.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.781) !important;
}

.img-fluid {
    height: 90px;
    padding-left: 20px;
}

.bg-light {
    background-color: #198754 !important;
}

.nav-link:hover{
    background-color: #198743 !important;
}

.row{
    --bs-gutter-x: 0rem !important;
}

.col-2{
    margin-right: 10px;
}